Iterating Over Lines in a File

In [ ]:
filereader=open("emotion_words.txt","r")
reader=filereader.readlines()
counter=0
for i in reader:
    counter+=1
num_lines=counter
filereader.close()
print(num_lines)

In [ ]:
olympicsfile = open("olympics.txt", "r")

for aline in olympicsfile.readlines():
    values = aline.split(",")
    print(values[0], "is from", values[3], "and is on the roster for", values[4])

olympicsfile.close()

In [ ]:
filename = "squared_numbers.txt"
outfile = open(filename, "w")

for number in range(1, 13):
    square = number * number
    outfile.write(str(square) + "\n")

outfile.close()

infile = open(filename, "r")
print(infile.read()[:10])
infile.close()

In [ ]:
with open('mydata.txt', 'r') as md:
    for line in md:
        print(line)
# continue on with other code

In [ ]:
md = open('mydata.txt', 'r')
for line in md:
    print(line)
md.close()
# continue with other code

In [ ]:
fname = "yourfile.txt"
with open(fname, 'r') as fileref:         # step 1
    lines = fileref.readlines()           # step 2
    for lin in lines:                     # step 3
        #some code that references the variable lin
#some other code not relying on fileref   # step 4

In [ ]:
with open(fname, 'r') as fileref:
 for lin in fileref:
     ## some code that uses line as the current line of the file
     ## some more code

CSV format

In [ ]:
Name,score,grade
Jamal,98,A+
Eloise,87,B+
Madeline,99,A+
Wei,94,A

Reading in data from a CSV File

In [ ]:
fileconnection = open("olympics.txt", 'r')
lines = fileconnection.readlines()
header = lines[0]
field_names = header.strip().split(',')
print(field_names)
for row in lines[1:]:
    vals = row.strip().split(',')
    if vals[5] != "NA":
        print("{}: {}; {}".format(
                vals[0],
                vals[4],
                vals[5]))

In [ ]:
n = [0] * 12
for i in range(1,13):
    n[i-1] = i *12
outfile = open("Multiples of 12", "w")
for j in range(0, len(n)):
    outfile.write(str(j+1) + ',' + str(n[j]))
    # +1 to j since the array starts at 0 and we start counting at 1
    outfile.write('\n')
outfile.close()

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144]

In [ ]:
olympians = [("John Aalberg", 31, "Cross Country Skiing"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]

outfile = open("reduced_olympics.csv", "w")
# output the header row
outfile.write('Name,Age,Sport')
outfile.write('\n')
# output each of the rows:
for olympian in olympians:
    row_string = '{},{},{}'.format(olympian[0], olympian[1], olympian[2])
    outfile.write(row_string)
    outfile.write('\n')
outfile.close()

In [ ]:
olympians = [("John Aalberg", 31, "Cross Country Skiing, 15KM"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]

outfile = open("reduced_olympics2.csv", "w")
# output the header row
outfile.write('"Name","Age","Sport"')
outfile.write('\n')
# output each of the rows:
for olympian in olympians:
    row_string = '"{}", "{}", "{}"'.format(olympian[0], olympian[1], olympian[2])
    outfile.write(row_string)
    outfile.write('\n')
outfile.close()

W="Welcome to {} to {} Wscubetech".format("hello",20)
print(W)

W="Welcome {1} to {0} Wscubetech".format("hello",20)
print(W)

W="Welcome {a} to {b} Wscubetech".format(a=30, b=40)
print(W)

W="Welcome {b:10} to {a} Wscubetech".format(a=30,b=40)
print(W) #since b is 40 so it has 2 characters 4 0 already and so b:10 means a space will be applied for 10-2 characters before it. The position of 40 can be modified b:^10, b:<10

In [ ]:
# Import the csv module to work with CSV files
import csv

# Create a list of tuples where each tuple represents an athlete's details
olympians = [
    ("John Aalberg", 31, "Cross Country Skiing, 15KM"),  # Name, Age, Sport
    ("Minna Maarit Aalto", 30, "Sailing"),
    ("Win Valdemar Aaltonen", 54, "Art Competitions"),
    ("Wakako Abe", 18, "Cycling")
]

# Open a new CSV file in write mode ("w")
# The file will be created if it doesn't exist, or overwritten if it does
outfile = open("reduced_olympics_2.csv", "w")

# Create a writer object to handle writing data into the CSV file
writer = csv.writer(outfile)

# Write the header row (column names) to the CSV file
# Each value in the list becomes a column in the CSV
writer.writerow(['Name', 'Age', 'Sport'])

# Iterate through the list of olympians to write their details as rows
for olympian in olympians:
    # Each olympian is a tuple, and writer.writerow() writes it as a row in the CSV
    writer.writerow(olympian)

# Close the file to ensure data is saved and resources are released
outfile.close()

Dictionary

In [ ]:
eng2sp = {}
eng2sp['one'] = 'uno'
eng2sp['two'] = 'dos'
eng2sp['three'] = 'tres'
print(eng2sp)

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [ ]:
eng2sp = {'three': 'tres', 'one': 'uno', 'two': 'dos'}
print(eng2sp)

{'three': 'tres', 'one': 'uno', 'two': 'dos'}

In [ ]:
eng2sp = {'three': 'tres', 'one': 'uno', 'two': 'dos'}
value = eng2sp['two']
print(value)
print(eng2sp['one'])

dos
uno

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
del inventory['pears']

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
inventory['pears'] = 0

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
inventory['bananas'] = inventory['bananas'] + 200
numItems = len(inventory)

In [ ]:
mydict = {"cat":12, "dog":6, "elephant":23}
mydict["mouse"] = mydict["cat"] + mydict["dog"]
print(mydict["mouse"])

18

In [ ]:
swimmers = {'Manuel':4, 'Lochte':12, 'Adrian':7, 'Ledecky':5, 'Dirado':4, 'Phelps':23}
swimmers['Phelps'] = swimmers['Phelps'] + 5

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'pears': 217, 'oranges': 525}

for key in inventory.keys():     # the order in which we get the keys is not defined
    print("Got key", key, "which maps to value", inventory[key])
print("-------------------")
ks = list(inventory.keys())       # Make a list of all of the keys
print(ks)
print("-------------------")
print(ks[0])

Got key apples which maps to value 430
Got key bananas which maps to value 312
Got key pears which maps to value 217
Got key oranges which maps to value 525
-------------------
['apples', 'bananas', 'pears', 'oranges']
-------------------
apples

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

for k in inventory:
    print("Got key", k)

Got key apples
Got key bananas
Got key oranges
Got key pears

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

print(list(inventory.values()))

for v in inventory.values():
    print("Got", v)

[430, 312, 525, 217]
Got 430
Got 312
Got 525
Got 217

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

print(list(inventory.items()))

for k, v in inventory.items():
    print("Got", k, "that maps to", v)

[('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)]
Got apples that maps to 430
Got bananas that maps to 312
Got oranges that maps to 525
Got pears that maps to 217

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
print('apples' in inventory)
print('cherries' in inventory)

if 'bananas' in inventory:
    print(inventory['bananas'])
else:
    print("We have no bananas")

True
False
312

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

print(inventory.get("apples"))
print(inventory.get("cherries"))

print(inventory.get("cherries",0))

430
None
0

In [ ]:
mydict = {"cat":12, "dog":6, "elephant":23, "bear":20}
print("dog" in mydict)

True

In [ ]:
mydict = {"cat":12, "dog":6, "elephant":23, "bear":20}
print(23 in mydict)
#checks keys not values but it would be true if mydict.values()

False

In [ ]:
total = 0
mydict = {"cat":12, "dog":6, "elephant":23, "bear":20}
for akey in mydict:
   if len(akey) > 3:
      total = total + mydict[akey]
print(total)

43

In [ ]:
medal_events = {'Shooting': 7, 'Fencing': 4, 'Judo': 2, 'Swimming': 3, 'Diving': 2}
events=list(medal_events.keys())

In [ ]:
opposites = {'up': 'down', 'right': 'wrong', 'true': 'false'}
alias = opposites

print(alias is opposites)

alias['right'] = 'left'
print(opposites['right'])

True
left

In [ ]:
mydict = {"cat":12, "dog":6, "elephant":23, "bear":20}
yourdict = mydict
yourdict["elephant"] = 999
print(mydict["elephant"])

999

In [ ]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
t_count = 0 #initialize the accumulator variable
for c in txt:
    if c == 't':
        t_count = t_count + 1   #increment the counter
print("t: " + str(t_count) + " occurrences")

FileNotFoundError: [Errno 2] No such file or directory: 'scarlet.txt'

In [ ]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
t_count = 0 #initialize the accumulator variable
s_count = 0 # initialize the s counter accumulator as well
for c in txt:
    if c == 't':
        t_count = t_count + 1   #increment the t counter
    elif c == 's':
        s_count = s_count + 1
print("t: " + str(t_count) + " occurrences")
print("s: " + str(s_count) + " occurrences")

In [ ]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
letter_counts = {} # start with an empty dictionary
letter_counts['t'] = 0  # initialize the t counter
letter_counts['s'] = 0  # initialize the s counter
for c in txt:
    if c == 't':
        letter_counts['t'] = letter_counts['t'] + 1  # increment the t counter
    elif c == 's':
        letter_counts['s'] = letter_counts['s'] + 1  # increment the s counter

print("t: " + str(letter_counts['t']) + " occurrences")
print("s: " + str(letter_counts['s']) + " occurrences")

In [ ]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
letter_counts = {} # start with an empty dictionary
letter_counts['t'] = 0  # intiialize the t counter
letter_counts['s'] = 0  # initialize the s counter
for c in txt:
    if c == 't':
        letter_counts[c] = letter_counts[c] + 1   # increment the t counter
    elif c == 's':
        letter_counts[c] = letter_counts[c] + 1   # increment the s counter

print("t: " + str(letter_counts['t']) + " occurrences")
print("s: " + str(letter_counts['s']) + " occurrences")

In [ ]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
letter_counts = {} # start with an empty dictionary
letter_counts['t'] = 15 # initialize the t counter
letter_counts['s'] = 25 # initialize the s counter

In [ ]:
f = open('scarlet.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
letter_counts = {} # start with an empty dictionary
for c in txt:
    if c not in letter_counts:
        # we have not seen this character before, so initialize a counter for it
        letter_counts[c] = 0

    #whether we've seen it before or not, increment its counter
    letter_counts[c] = letter_counts[c] + 1

print("t: " + str(letter_counts['t']) + " occurrences")
print("s: " + str(letter_counts['s']) + " occurrences")

In [ ]:
f = open('scarlet.txt', 'r')
txt = f.read()
letter_counts = {}
for c in txt:
    if c not in letter_counts:
        letter_counts[c] = 0

    letter_counts[c] = letter_counts[c] + 1

# Write a loop that prints the letters and their counts

In [ ]:
f = open('scarlet.txt', 'r')
txt_lines = f.readlines()
# now txt_lines is a list, where each item is one
# line of text from the story
print(len(txt_lines))

FileNotFoundError: [Errno 2] No such file or directory: 'scarlet.txt'

In [ ]:
f = open('scarlet2.txt', 'r')
txt = f.read()
# now txt is one long string containing all the characters
letter_counts = {} # start with an empty dictionary
for c in txt:
    if c not in letter_counts:
        # we have not seen this character before, so initialize a counter for it
        letter_counts[c] = 0

    #whether we've seen it before or not, increment its counter
    letter_counts[c] = letter_counts[c] + 1

letter_values = {'a': 1, 'b': 3, 'c': 3, 'd': 2, 'e': 1, 'f':4, 'g': 2, 'h':4, 'i':1, 'j':8, 'k':5, 'l':1, 'm':3, 'n':1, 'o':1, 'p':3, 'q':10, 'r':1, 's':1, 't':1, 'u':1, 'v':4, 'w':4, 'x':8, 'y':4, 'z':10}

tot = 0
for letter in letter_counts:
    if letter in letter_values:
        tot = tot + letter_values[letter] * letter_counts[letter]

print(tot)

In [ ]:
travel = {"North America": 2, "Europe": 8, "South America": 3, "Asia": 4, "Africa":1, "Antarctica": 0, "Australia": 1}
total=0
for i in travel:
    total=total+travel[i]

In [ ]:
schedule = {"UARTS 150": 3, "SPANISH 103": 4, "ENGLISH 125": 4, "SI 110": 4, "ENS 356": 2, "WOMENSTD 240": 4, "SI 106": 4, "BIO 118": 3, "SPANISH 231": 4, "PSYCH 111": 4, "LING 111": 3, "SPANISH 232": 4, "STATS 250": 4, "SI 206": 4, "COGSCI 200": 4, "AMCULT 202": 4, "ANTHRO 101": 4}
total_credits = 0

# Iterate over the values (credits) in the dictionary and sum them
for credits in schedule.values():
    total_credits += credits

# Print the total for verification
print(total_credits)

63

In [ ]:
d = {'a': 194, 'b': 54, 'c': 34, 'd': 44, 'e': 312, 'full': 31}

ks = d.keys()

# Initialize variable best_key_so_far to be the first key in d
best_key_so_far = list(ks)[0]

# Iterate through all keys in the dictionary
for k in ks:
    # Check if the value associated with the current key is
    # bigger than the value associated with the best_key_so_far
    if d[k] > d[best_key_so_far]:
        # If so, save the current key as the best so far
        best_key_so_far = k

print("key " + best_key_so_far + " has the highest value, " + str(d[best_key_so_far]))

key e has the highest value, 312

In [ ]:
placement = "Beaches are cool places to visit in spring however the Mackinaw Bridge is near. Most people visit Mackinaw later since the island is a cool place to explore."
d = {}

# Count occurrences of each character in the string
for c in placement:
    if c not in d:
        d[c] = 0  # Initialize count to 0
    d[c] += 1  # Increment count for the character

# Find the key with the lowest value
keys = list(d.keys())  # Get all keys from the dictionary
key_with_min_value = keys[0]  # Assume the first key has the smallest value initially

for key in keys:
    if d[key] < d[key_with_min_value]:  # Compare values
        key_with_min_value = key  # Update key_with_min_value to the smallest key

print("Key with the minimum value:", key_with_min_value)  # Output the key with the lowest value

Key with the minimum value: x

Functions

In [ ]:
def hello():
  print("Hello! Hows it going?")
hello()

Hello! Hows it going?

In [ ]:
import turtle

def drawSquare(t, sz):
    """Make turtle t draw a square of with side sz."""

    for i in range(4):
        t.forward(sz)
        t.left(90)


wn = turtle.Screen()      # Set up the window and its attributes
wn.bgcolor("lightgreen")

alex = turtle.Turtle()    # create alex
drawSquare(alex, 50)      # Call the function to draw the square passing the actual turtle and the actual side size

wn.exitonclick()

TclError: no display name and no $DISPLAY environment variable

In [ ]:
def hello(s):
  print("Hello " + s + "! Hows it going?")

hello("Bob")

Hello Bob! Hows it going?

In [ ]:
def hello2(s,n,y):
  greeting= "Hello {}{}".format(s,y)
  print(greeting*n)

hello2("Mr.Cow ",3,"YEEHAW ")

Hello Mr.Cow YEEHAW Hello Mr.Cow YEEHAW Hello Mr.Cow YEEHAW

In [ ]:
def add(a,b):
  total=a+b
  a=17
  return total #a doesnt effect total here look

my_var=11
add(my_var,3)

14

In [ ]:
def add_list(alist):
  total=0
  for num in alist:
    total+=num
  alist=["george","angela"]
  return total
my_list=[7,3,5,4]
add_list(my_list)

19

In [ ]:
def square(x):
  y=x*x
  return y

toSquare=10
result=square(toSquare)
print("The result of", toSquare, "squared is", result)

The result of 10 squared is 100

In [ ]:
def mylen(seq):
    c = 0 # initialize count variable to 0
    for _ in seq:
        c = c + 1   # increment the counter for each item in seq
    return c

print(mylen("hello"))
print(mylen([1, 2, 7]))

5
3

In [ ]:
def square(x):
    y = x * x
    return y

z = square(10)
print(y)

NameError: name 'y' is not defined

In [ ]:
numbers = [1, 12, 13, 4]
def foo(bar):
    aug = str(bar) + "street"
    return aug

addresses = []
for item in numbers:
    addresses.append(foo(item))

In [ ]:
def badsquare(x):
    y = x ** power
    return y

power = 2
result = badsquare(10)
print(result)

100

In [ ]:
def powerof(x, p):
    global power  # a really...
    power = p     # ...bad idea, but
    y = x ** power
    return y

power = 3
result = powerof(10, 2)
print(result)
print(power)

100
2

In [ ]:
def square(x):
    y = x * x
    return y

def sum_of_squares(x, y, z):
    a = square(x)
    b = square(y)
    c = square(z)
    return a + b + c

a = -5
b = 2
c = 10

result = sum_of_squares(a, b, c)
print(result)

129

In [ ]:
def most_common_letter(s):
    frequencies = count_freqs(s)
    return best_key(frequencies)

def count_freqs(st):
    d = {}
    for c in st:
        if c not in d:
             d[c] = 0
        d[c] = d[c] + 1
    return d

def best_key(dictionary):
    ks = dictionary.keys()
    best_key_so_far = list(ks)[0]  # Have to turn ks into a real list before using [] to select an item
    for k in ks:
        if dictionary[k] > dictionary[best_key_so_far]:
            best_key_so_far = k
    return best_key_so_far

print(most_common_letter("abbbbbbbbbbbccccddddd"))

b

In [ ]:
#this one is trickey notice function y isnt printed rather global y is
def double(y):
    y = 2 * y

num = 5
double(num)
print(num)

5

In [ ]:
def changeit(lst):
    lst[0] = "Michigan"
    lst[1] = "Wolverines"

mylst = ['our', 'students', 'are', 'awesome']
changeit(mylst)
print(mylst)

['Michigan', 'Wolverines', 'are', 'awesome']

assert is used to check the answer

In [ ]:
def square(x):
    return x*x

assert square(3) == 9

In [ ]:
def update_counts(letters, counts_d):
    for c in letters:
        counts_d[c] = 1
        if c in counts_d:
            counts_d[c] = counts_d[c] + 1


counts = {'a': 3, 'b': 2}
update_counts("aaab", counts)
# 3 more occurrences of a, so 6 in all
assert counts['a'] == 6
# 1 more occurrence of b, so 3 in all
assert counts['b'] == 3

AssertionError:

Tuple

In [ ]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
# or equivalently
julia = "Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia"
print(julia[4])

2009

In [ ]:
practice="y","h","z","x"
print(type(practice))

<class 'tuple'>

In [ ]:
# Provided is a list of tuples. Create another list called t_check that contains the third element of every tuple.
lst_tups = [
    ('Articuno', 'Moltres', 'Zaptos'),
    ('Beedrill', 'Metapod', 'Charizard', 'Venasaur', 'Squirtle'),
    ('Oddish', 'Poliwag', 'Diglett', 'Bellsprout'),
    ('Ponyta', "Farfetch'd", "Tauros", 'Dragonite'),
    ('Hoothoot', 'Chikorita', 'Lanturn', 'Flaaffy', 'Unown', 'Teddiursa', 'Phanpy'),
    ('Loudred', 'Volbeat', 'Wailord', 'Seviper', 'Sealeo')
]

# Create an empty list to store the third elements
t_check = []

# Iterate over each tuple in the list
for tup in lst_tups:
    # Check if the tuple has at least 3 elements
    if len(tup) > 2:
        # Add the third element of the tuple to t_check
        t_check.append(tup[2])

# Print the result
print(t_check)

['Zaptos', 'Charizard', 'Diglett', 'Tauros', 'Lanturn', 'Wailord']

In [ ]:
# Provided list of tuples
tups = [
    ('a', 'b', 'c'),
    (8, 7, 6, 5),
    ('blue', 'green', 'yellow', 'orange', 'red'),
    (5.6, 9.99, 2.5, 8.2),
    ('squirrel', 'chipmunk')
]

# Initialize an empty list to store the second elements
seconds = []

# Iterate over each tuple in the list
for tup in tups:
    # Check if the tuple has at least 2 elements
    if len(tup) > 1:
        # Append the second element to the 'seconds' list
        seconds.append(tup[1])

# Print the result
print(seconds)

['b', 7, 'green', 9.99, 'chipmunk']

In [ ]:
def circleInfo(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return (c, a)

print(circleInfo(10))

(62.8318, 314.159)

In [ ]:
def circleInfo(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return c, a

print(circleInfo(10))

(62.8318, 314.159)

In [ ]:
def circleInfo(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return c, a

print(circleInfo(10))

circumference, area = circleInfo(10)
print(circumference)
print(area)

circumference_two, area_two = circleInfo(45)
print(circumference_two)
print(area_two)

(62.8318, 314.159)
62.8318
314.159
282.74309999999997
6361.719749999999

In [ ]:
def information(name,birth_year,fav_color,hometown):
    return name,birth_year,fav_color,hometown

tuple unpacking

In [ ]:
julia = "Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia"

name, surname, birth_year, movie, movie_year, profession, birth_place = julia

In [ ]:
(a, b, c, d) = (1, 2, 3) # ValueError: need more than 3 values to unpack

In [ ]:
a = 1
b = 2
temp = a
a = b
b = temp
print(a, b, temp)

2 1 1

In [ ]:
a = 1
b = 2
(a, b) = (b, a)
print(a, b)

2 1

In [ ]:
authors = [('Paul', 'Resnick'), ('Brad', 'Miller'), ('Lauren', 'Murphy')]
for first_name, last_name in authors:
    print("first name:", first_name, "last name:", last_name)
#Unpacking Into Iterator Variables

first name: Paul last name: Resnick
first name: Brad last name: Miller
first name: Lauren last name: Murphy

In [ ]:
#The Pythonic Way to Enumerate Items in a Sequence
fruits = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for n in range(len(fruits)):
    print(n, fruits[n])

0 apple
1 pear
2 apricot
3 cherry
4 peach

In [ ]:
fruits = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for item in enumerate(fruits):
    print(item[0], item[1])

0 apple
1 pear
2 apricot
3 cherry
4 peach

In [ ]:
fruits = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 apple
1 pear
2 apricot
3 cherry
4 peach

In [ ]:
water, fire, electric, grass = "Squirtle", "Charmander", "Pikachu", "Bulbasaur"

In [ ]:
v1, v2, v3, v4 = 1, 2, 3, 4

In [ ]:
pokemon = {'Rattata': 19, 'Machop': 66, 'Seel': 86, 'Volbeat': 86, 'Solrock': 126}

p_names = []
p_number = []

for key, value in pokemon.items():
    p_names.append(key)
    p_number.append(value)

print(p_names)
print(p_number)

['Rattata', 'Machop', 'Seel', 'Volbeat', 'Solrock']
[19, 66, 86, 86, 126]

In [ ]:
track_medal_counts = {'shot put': 1, 'long jump': 3, '100 meters': 2, '400 meters': 2, '100 meter hurdles': 3,
                      'triple jump': 3, 'steeplechase': 2, '1500 meters': 1, '5K': 0, '10K': 0, 'marathon': 0,
                      '200 meters': 0, '400 meter hurdles': 0, 'high jump': 1}

track_events = []

for key, value in track_medal_counts.items():
    track_events.append(key)

print(track_events)

['shot put', 'long jump', '100 meters', '400 meters', '100 meter hurdles', 'triple jump', 'steeplechase', '1500 meters', '5K', '10K', 'marathon', '200 meters', '400 meter hurdles', 'high jump']

In [ ]:
def add(x, y):
    return x + y

print(add(3, 4))
z = (5, 4)
print(add(z)) # this line causes an error

7

TypeError: add() missing 1 required positional argument: 'y'

In [ ]:
def add(x, y):
    return x + y

print(add(3, 4))
z = (5, 4)
print(add(*z)) # this line will cause the values to be unpacked

7
9

While loop

In [1]:
def sumTo(aBound):
    """ Return the sum of 1+2+3 ... n """

    theSum  = 0
    aNumber = 1
    while aNumber <= aBound:
        theSum = theSum + aNumber
        aNumber = aNumber + 1
    return theSum

print(sumTo(4))

print(sumTo(1000))

10
500500

In [2]:
#Write a while loop that is initialized at 0 and stops at 15. If the counter is an even number, append the counter to a list called eve_nums.
eve_nums=[]
number=0
while number<15:
    if number%2==0:
        eve_nums.append(number)
    number+=1

In [3]:
#listener loop runs loops until we ask it to stop
theSum = 0
x = -1
while (x != 0):
    x = int(input("next number to add up (enter 0 if no more numbers): "))
    theSum = theSum + x

print(theSum)

next number to add up (enter 0 if no more numbers): 150
next number to add up (enter 0 if no more numbers): 0
150

In [ ]:
def checkout():
    total = 0
    count = 0
    moreItems = True
    while moreItems:
        price = float(input('Enter price of item (0 when done): '))
        if price != 0:
            count = count + 1
            total = total + price
            print('Subtotal: $', total)
        else:
            moreItems = False
    average = total / count
    print('Total items:', count)
    print('Total $', total)
    print('Average price per item: $', average)

checkout()

In [ ]:
def get_yes_or_no(message):
    valid_input = False
    while not valid_input:
        answer = input(message)
        answer = answer.upper() # convert to upper case
        if answer == 'Y' or answer == 'N':
            valid_input = True
    return answer

response = get_yes_or_no('Do you like lima beans? Y)es or N)o: ')
if response == 'Y':
    print('Great! They are very healthy.')
else:
    print('Too bad. If cooked right, they are quite tasty.')

In [ ]:
import random
import turtle


def isInScreen(w, t):
    if random.random() > 0.1:
        return True
    else:
        return False


t = turtle.Turtle()
wn = turtle.Screen()

t.shape('turtle')
while isInScreen(wn, t):
    coin = random.randrange(0, 2)
    if coin == 0:              # heads
        t.left(90)
    else:                      # tails
        t.right(90)

    t.forward(50)

wn.exitonclick()

In [ ]:
import random
import turtle

def isInScreen(w,t):
    leftBound = - w.window_width() / 2
    rightBound = w.window_width() / 2
    topBound = w.window_height() / 2
    bottomBound = -w.window_height() / 2

    turtleX = t.xcor()
    turtleY = t.ycor()

    stillIn = True
    if turtleX > rightBound or turtleX < leftBound:
        stillIn = False
    if turtleY > topBound or turtleY < bottomBound:
        stillIn = False

    return stillIn

t = turtle.Turtle()
wn = turtle.Screen()

t.shape('turtle')
while isInScreen(wn,t):
    coin = random.randrange(0, 2)
    if coin == 0:
        t.left(90)
    else:
        t.right(90)

    t.forward(50)

wn.exitonclick()

In [4]:
while True:
    print("this phrase will always print")
    break
    print("Does this phrase print?")

print("We are done with the while loop.")

this phrase will always print
We are done with the while loop.

In [5]:
x = 0
while x < 10:
    print("we are incrementing x")
    if x % 2 == 0:
        x += 3
        continue
    if x % 3 == 0:
        x += 5
    x += 1
print("Done with our loop! X has the value: " + str(x))

we are incrementing x
we are incrementing x
we are incrementing x
Done with our loop! X has the value: 15

In [ ]:
#infinite loop
b=15
while b<60:
  b=5
  print("Bugs")
  b=b+7

In [7]:
#The int function provides an optional parameter for the base. When it is not specified, the number is converted to an integer assuming the original number was in base 10. We say that 10 is the default value. So int("100") is the same as invoking int("100", 10). We can override the default of 10 by supplying a different value.
print(int("100"))
print(int("100", 10))   # same thing, 10 is the default value for the base
print(int("100", 8))     # now the base is 8, so the result is 1*64 = 64

100
100
64

In [8]:
#Function with Default Arguments and Different Calls
initial = 7

def f(x, y=3, z=initial):
    print("x, y, z, are: " + str(x) + ", " + str(y) + ", " + str(z))

f(2)          # Call 1
f(2, 5)       # Call 2
f(2, 5, 8)    # Call 3

x, y, z, are: 2, 3, 7
x, y, z, are: 2, 5, 7
x, y, z, are: 2, 5, 8

In [9]:
#Default Value Capture Behavior
initial = 7

def f(x, y=3, z=initial):
    print("x, y, z, are: " + str(x) + ", " + str(y) + ", " + str(z))

initial = 10  # Change the value of `initial`
f(2)          # Call to see if `z` changes

x, y, z, are: 2, 3, 7

In [10]:
#Function with Mutable Default Argument
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))                # First call
print(f(2))                # Second call
print(f(3))                # Third call
print(f(4, ["Hello"]))     # Provide a new list
print(f(5, ["Hello"]))     # Provide a new list again

[1]
[1, 2]
[1, 2, 3]
['Hello', 4]
['Hello', 5]

In [11]:
def str_mult(string, num=3):
    return string * num

# Example usage:
print(str_mult("hello"))        # Default multiplier (3): "hellohellohello"
print(str_mult("hi", 5))        # Multiplier (5): "hihihihihi"
print(str_mult("test", 0))      # Multiplier (0): ""

hellohellohello
hihihihihi

In [12]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
	    print("-- This parrot wouldn't" + action,)
	    print("if you put" + str(voltage) + "volts through it.")
	    print("-- Lovely plumage, the" +  type)
	    print("-- It's " + state + "!")

parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn'tvoom
if you put1000volts through it.
-- Lovely plumage, theNorwegian Blue
-- It's a stiff!
-- This parrot wouldn'tvoom
if you put1000volts through it.
-- Lovely plumage, theNorwegian Blue
-- It's a stiff!
-- This parrot wouldn'tVOOOOOM
if you put1000000volts through it.
-- Lovely plumage, theNorwegian Blue
-- It's a stiff!
-- This parrot wouldn'tVOOOOOM
if you put1000000volts through it.
-- Lovely plumage, theNorwegian Blue
-- It's a stiff!
-- This parrot wouldn'tjump
if you puta millionvolts through it.
-- Lovely plumage, theNorwegian Blue
-- It's bereft of life!
-- This parrot wouldn'tvoom
if you puta thousandvolts through it.
-- Lovely plumage, theNorwegian Blue
-- It's pushing up the daisies!

In [13]:
names_scores = [("Jack",[67,89,91]),("Emily",[72,95,42]),("Taylor",[83,92,86])]
for name, scores in names_scores:
    print("The scores {nm} got were: {s1},{s2},{s3}.".format(nm=name,s1=scores[0],s2=scores[1],s3=scores[2]))

The scores Jack got were: 67,89,91.
The scores Emily got were: 72,95,42.
The scores Taylor got were: 83,92,86.

In [14]:
# this works
names = ["Jack","Jill","Mary"]
for n in names:
    print("'{}!' she yelled. '{}! {}, {}!'".format(n,n,n,"say hello"))

# but this also works!
names = ["Jack","Jill","Mary"]
for n in names:
    print("'{0}!' she yelled. '{0}! {0}, {1}!'".format(n,"say hello"))

'Jack!' she yelled. 'Jack! Jack, say hello!'
'Jill!' she yelled. 'Jill! Jill, say hello!'
'Mary!' she yelled. 'Mary! Mary, say hello!'
'Jack!' she yelled. 'Jack! Jack, say hello!'
'Jill!' she yelled. 'Jill! Jill, say hello!'
'Mary!' she yelled. 'Mary! Mary, say hello!'

In [15]:
def multiply(string, mult_int=10):
    return string * mult_int

# Example usage:
print(multiply("Hello"))       # Output: "Hello" repeated 10 times
print(multiply("Hello", 3))    # Output: "HelloHelloHello"

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello
HelloHelloHello

In [ ]:
def waste(mar, var="Water", marble="type"):
    final_string = var + " " + marble + " " + mar
    return final_string

# Example usage:
print(waste("example"))  # Output: "Water type example"

In [16]:
def count_long_words(words, min_length=5):
    ct = 0
    for word in words:
        if len(word) >= min_length:
            ct += 1
    return ct

In [17]:
def count_long_words(words, min_length=5):
    ct = 0
    for word in words:
        if len(word) >= min_length:
            ct += 1
    return ct

test_words = ["", "1", "12", "123", "1234", "12345", "123456"]
assert count_long_words(test_words) == 2
assert count_long_words(test_words, min_length=0) == 7
assert count_long_words(test_words, min_length=4) == 3
assert count_long_words(test_words, min_length=100) == 0

In [18]:
def distance(x1, y1, x2, y2):
    return None

assert distance(1, 2, 1, 2) == 0

AssertionError:

In [19]:
def distance(x1, y1, x2, y2):
    return 0.0

assert distance(1, 2, 1, 2) == 0

In [20]:
def distance(x1, y1, x2, y2):
    return 0

assert distance(1,2, 1,2) == 0
assert distance(1,2, 4,6) == 5
assert distance(0,0, 1,1) == 2**0.5

AssertionError:

In [21]:
#test driven development distance of a length of a triangle
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    dsquared = dx**2 + dy**2
    result = dsquared**0.5
    return result

assert distance(1,2, 1,2) == 0
assert distance(1,2, 4,6) == 5
assert distance(0,0, 1,1) == 2**0.5

lambda functions (similar to regular functions)

In [23]:
def last_char(s):
    return s[-1]
last_char = (lambda s: s[-1]) #lambda function equivalent function of the above function

In [24]:
def f(x):
    return x - 1

print(f)
print(type(f))
print(f(3))

print(lambda x: x-2)
print(type(lambda x: x-2))
print((lambda x: x-2)(6))

<function f at 0x7ef0c86ab060>
<class 'function'>
2
<function <lambda> at 0x7ef0c86aa840>
<class 'function'>
4

sorting

In [25]:
L1 = [1, 7, 4, -2, 3]
L2 = ["Cherry", "Apple", "Blueberry"]

L1.sort()
print(L1)
L2.sort()
print(L2)

[-2, 1, 3, 4, 7]
['Apple', 'Blueberry', 'Cherry']

In [26]:
L2 = ["Cherry", "Apple", "Blueberry"]

L3 = sorted(L2)
print(L3)
print(sorted(L2))
print(L2) # unchanged

print("----")

L2.sort()
print(L2)
print(L2.sort())  #return value is None

['Apple', 'Blueberry', 'Cherry']
['Apple', 'Blueberry', 'Cherry']
['Cherry', 'Apple', 'Blueberry']
----
['Apple', 'Blueberry', 'Cherry']
None

In [27]:
L2 = ["Cherry", "Apple", "Blueberry"]
print(sorted(L2, reverse=True))

['Cherry', 'Blueberry', 'Apple']

In [ ]:
#Sort the list, lst from largest to smallest. Save this new list to the variable lst_sorted.
lst = [3, 5, 1, 6, 7, 2, 9, -2, 5]
lst_sorted=(sorted(lst, reverse=True))

absolute function

In [28]:
L1 = [1, 7, 4, -2, 3]

def absolute(x):
    if x >= 0:
        return x
    else:
        return -x

print(absolute(3))
print(absolute(-119))

for y in L1:
    print(absolute(y))

3
119
1
7
4
2
3

In [29]:
L1 = [1, 7, 4, -2, 3]

def absolute(x):
    if x >= 0:
        return x
    else:
        return -x

L2 = sorted(L1, key=absolute)
print(L2)

#or in reverse order
print(sorted(L1, reverse=True, key=absolute))

[1, -2, 3, 4, 7]
[7, 4, 3, -2, 1]

In [30]:
L1 = [1, 7, 4, -2, 3]

def absolute(x):
    print("--- figuring out what to write on the post-it note for " + str(x))
    if x >= 0:
        return x
    else:
        return -x

print("About to call sorted")
L2 = sorted(L1, key=absolute)
print("Finished execution of sorted")
print(L2)

About to call sorted
--- figuring out what to write on the post-it note for 1
--- figuring out what to write on the post-it note for 7
--- figuring out what to write on the post-it note for 4
--- figuring out what to write on the post-it note for -2
--- figuring out what to write on the post-it note for 3
Finished execution of sorted
[1, -2, 3, 4, 7]

sorting a dictionary

In [31]:
L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

d = {}
for x in L:
    if x in d:
        d[x] = d[x] + 1
    else:
        d[x] = 1
for x in d.keys():
    print("{} appears {} times".format(x, d[x]))

E appears 2 times
F appears 1 times
B appears 2 times
A appears 2 times
D appears 4 times
I appears 2 times
C appears 1 times

In [32]:
L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

d = {}
for x in L:
    if x in d:
        d[x] = d[x] + 1
    else:
        d[x] = 1
y = sorted(d.keys())
for k in y:
    print("{} appears {} times".format(k, d[k]))

A appears 2 times
B appears 2 times
C appears 1 times
D appears 4 times
E appears 2 times
F appears 1 times
I appears 2 times

In [33]:
L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

d = {}
for x in L:
    if x in d:
        d[x] = d[x] + 1
    else:
        d[x] = 1

y = sorted(d.keys(), key=lambda k: d[k], reverse=True)
for k in y:
    print("{} appears {} times".format(k, d[k]))

D appears 4 times
E appears 2 times
B appears 2 times
A appears 2 times
I appears 2 times
F appears 1 times
C appears 1 times

In [34]:
L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

d = {}
for x in L:
    if x in d:
        d[x] = d[x] + 1
    else:
        d[x] = 1

def g(k):
    return d[k]

y =(sorted(d.keys(), key=g, reverse=True))

# now loop through the keys
for k in y:
    print("{} appears {} times".format(k, d[k]))

D appears 4 times
E appears 2 times
B appears 2 times
A appears 2 times
I appears 2 times
F appears 1 times
C appears 1 times

In [35]:
L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

d = {}
for x in L:
    if x in d:
        d[x] = d[x] + 1
    else:
        d[x] = 1

# now loop through the sorted keys
for k in sorted(d, key=lambda k: d[k], reverse=True):
      print("{} appears {} times".format(k, d[k]))

D appears 4 times
E appears 2 times
B appears 2 times
A appears 2 times
I appears 2 times
F appears 1 times
C appears 1 times

What happens when two items are tied in the sort order? For example, suppose we sort a list of words by their lengths. Which five letter word will appear first?

In [36]:
tups = [('A', 3, 2),
        ('C', 1, 4),
        ('B', 3, 1),
        ('A', 2, 4),
        ('C', 1, 2)]
for tup in sorted(tups):
    print(tup)

('A', 2, 4)
('A', 3, 2)
('B', 3, 1)
('C', 1, 2)
('C', 1, 4)

In [37]:
fruits = ['peach', 'kiwi', 'apple', 'blueberry', 'papaya', 'mango', 'pear']
new_order = sorted(fruits, key=lambda fruit_name: (len(fruit_name), fruit_name))
for fruit in new_order:
    print(fruit)

kiwi
pear
apple
mango
peach
papaya
blueberry

In [38]:
fruits = ['peach', 'kiwi', 'apple', 'blueberry', 'papaya', 'mango', 'pear']
new_order = sorted(fruits, key=lambda fruit_name: (len(fruit_name), fruit_name), reverse=True)
for fruit in new_order:
    print(fruit)

blueberry
papaya
peach
mango
apple
pear
kiwi

In [39]:
fruits = ['peach', 'kiwi', 'apple', 'blueberry', 'papaya', 'mango', 'pear']
new_order = sorted(fruits, key=lambda fruit_name: (-len(fruit_name), fruit_name))
for fruit in new_order:
    print(fruit)

blueberry
papaya
apple
mango
peach
kiwi
pear

When to use a Lambda Expression

In [40]:
states = {"Minnesota": ["St. Paul", "Minneapolis", "Saint Cloud", "Stillwater"],
          "Michigan": ["Ann Arbor", "Traverse City", "Lansing", "Kalamazoo"],
          "Washington": ["Seattle", "Tacoma", "Olympia", "Vancouver"]}

print(sorted(states, key=lambda state: len(states[state][0])))

['Washington', 'Minnesota', 'Michigan']

In [41]:
def s_cities_count(city_list):
    ct = 0
    for city in city_list:
        if city[0] == "S":
            ct += 1
    return ct

states = {"Minnesota": ["St. Paul", "Minneapolis", "Saint Cloud", "Stillwater"],
          "Michigan": ["Ann Arbor", "Traverse City", "Lansing", "Kalamazoo"],
          "Washington": ["Seattle", "Tacoma", "Olympia", "Vancouver"]}

print(sorted(states, key=lambda state: s_cities_count(states[state])))

['Michigan', 'Washington', 'Minnesota']

In [42]:
import pandas as pd
import matplotlib.pyplot as plt

# Step 1: Load the CSV file
data = pd.read_csv("resulting_data.csv")

# Step 2: Extract relevant columns
retweets = data["Number of Retweets"]
net_score = data["Net Score"]

# Step 3: Create the scatterplot
plt.figure(figsize=(8, 6))  # Optional: Customize figure size
plt.scatter(net_score, retweets, color="blue", alpha=0.7)

# Step 4: Add labels and title
plt.xlabel("Net Score")
plt.ylabel("Number of Retweets")
plt.title("Scatterplot of Number of Retweets vs Net Score")

# Step 5: Show the plot
plt.grid(True)  # Optional: Add grid for better readability
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'resulting_data.csv'